.Alert {
		padding: 20px;
		width: 60%;
		position: fixed;
		z-index: 500;
		left: 20%;
		top: 30%;
		box-sizing: border-box;
		transition: all 0.3s ease-out;
		text-align: left;
		color: black;
}

.alertClose {
		margin-left: 15px;
		color: white;
		font-weight: bold;
		float: right;
		font-size: 22px;
		line-height: 20px;
		cursor: pointer;
		transition: 0.3s;
}

.alertClose:hover {
		color: black;
}
.primary{
		background: silver;
}
.success{
		background: seagreen;
}
.danger{
		background: darkred;
}
.warning{
		background: darkorange;
}