.Button {
		background-color: transparent;
		border: none;
		color: white;
		outline: none;
		cursor: pointer;
		font: inherit;
		padding: 10px;
		margin: 10px 10px 10px 0;
		font-weight: bold;
}

.Primary{
		color: #5C9210;
}

.Danger {
		color: #944317;
}
