.builder{
		max-width: 1200px;
		margin: 0 auto;
		text-align: center;
}
.modalBtn{
		width: 300px;
		height: 80px;
		background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
		border-radius:5px;
		text-transform:uppercase;
		font-size:20px;
		font-weight:bold;
		margin-top: 20%;
}
